
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
// .teli {
//     content: '';
//     // position: absolute;
//     background-image: url('../sass/images/icons/telephone.svg');
//     left: 0;
    
//     background-size: contain;
//     width: 30px;
//     h



// last-section
.wrapper {
    background: url('./images/bg_brick.jpg');
    padding-bottom: 50px;
}
.last-section {
    
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 576px) {
        display: flex;
        flex-direction: column;
    }
    &_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 576px) {
            display: flex;
            flex-direction: column;
        }
        &-inner {
            // width: 300px;
            display: flex; 
            justify-content: space-between;
            align-items: center;
            position: relative;
            img {
                // position: absolute;
                width: 200px;
                height:270px;
                object-fit: contain;

            }
            h5 {
                color: rgb(248, 244, 0);
                font-weight: bolder;
                position: absolute;
                top: 0;

            }
            p {

            }
        }
    }
}


// footer 
.footer {
    background-color: aliceblue;
    &-inner {
        // footer 
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 576px) {
            display: flex;
            flex-direction: column;
        }
        &-block {
            display: flex;
            flex-direction: column;
            .teli {
                position: relative;
                &::after{
                    content: "";
                    background-image: url('./images/icons/telephone.svg');
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    padding-left: 25px;
                    background-repeat: no-repeat;
                    right: 0px;


                }
            }
           

            a {
                // position: relative;
                text-decoration: none;
                margin-bottom: 20px;
                transition: all ease 0.5s;
                color: #000;
                font-weight: bold;
                &:hover {
                    color: #000;
                    transform: translate(15px);
                    background-color: rgb(228, 227, 226);
                    border-radius: 24px;
                }
                img {
                    // max-width: 100%;
                    width: 300px;
                    height: 150px;
                    // object-fit: contain;
                    border: 1px solid #000;
                    border-radius: 7px;

                }
            }
        }
        
    }
} 