html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background: url("./images/bg_brick.jpg");
  background: url("./images/bg_brick.jpg");
}

.header-top img {
  width: 150px;
  height: 70px;
  border: 1px solid #000;
  border-radius: 7px;
  position: absolute;
  margin-bottom: 20px;
  top: 80px;
}

@media screen and (max-width: 576px) {
  .header-top img {
    width: 150px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 7px;
    position: inherit;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.header-midl {
  background-color: #27AE61;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 576px) {
  .header-midl {
    position: relative;
    top: auto;
    width: auto;
  }
}

.header-midl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .header-midl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-midl-nav-drapdown:hover .header-midl-nav-drapdown-inner {
  display: block;
  height: 186px;
  width: 300px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header-midl-nav-drapdown:active .header-midl-nav-drapdown-inner {
  display: block;
  height: 186px;
  width: 300px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header-midl-nav-drapdown-link {
  margin: 0;
  text-decoration: none;
  font-size: 28px;
  padding: 10px 10px;
}

.header-midl-nav-drapdown-link:hover {
  background-color: #229955;
  border-radius: 7px;
}

.header-midl-nav-drapdown-inner {
  border-radius: 10px;
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  background-color: #05c905;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  overflow: hidden;
}

.header-midl-nav-drapdown-inner-li {
  padding: 7px 5px;
  list-style-type: none;
  width: 300px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-midl-nav-drapdown-inner-li-link {
  display: block;
  width: 100vw;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.header-midl-nav-drapdown-inner-li:hover {
  background-color: #229955;
  border-radius: 7px;
}

.header-midl-nav-link {
  text-decoration: none;
  font-size: 28px;
  padding: 10px 10px;
}

.header-midl-nav-link:hover {
  background-color: #229955;
  border-radius: 7px;
}

@media screen and (max-width: 576px) {
  .header-bottom {
    display: none;
  }
}

.header-bottom .slider-holder {
  height: 500px;
}

.header-bottom .slider-holder:hover .slick-arrow {
  opacity: 0.5;
}

.header-bottom .slider-holder .slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 500px;
  padding: 25px;
  overflow: hidden;
}

.header-bottom .slider-holder .slider-item .caption {
  color: #333;
  margin-top: -80px;
  text-transform: uppercase;
}

.header-bottom .slider-holder .slider-item .caption .title {
  color: #27ae61;
  font-size: 38px;
  line-height: 39px;
}

.header-bottom .slider-holder .slider-item .caption .midtitle {
  margin-left: 20px;
  font-size: 26px;
}

.header-bottom .slider-holder .slider-item .caption .subtitle {
  margin-left: 60px;
  font-size: 26px;
}

.header-bottom .slider-holder .slider-item .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-bottom .slider-holder .slider-caption .img-wrap {
  margin-top: -20px;
  margin-right: 60px;
}

.header-bottom .slider-holder .slider-caption .img-wrap img {
  margin-right: -80px;
}

.header-bottom .slider-holder .slider-caption .img-wrap .rotate-img-1 {
  z-index: 3;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.header-bottom .slider-holder .slider-caption .img-wrap .rotate-img-2 {
  z-index: 2;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.header-bottom .slider-holder .slider-caption .img-wrap .rotate-img-3 {
  z-index: 1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.header-bottom .slider-holder .slider-caption .rotate-in-down-right {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: rotateInDownRight;
          animation-name: rotateInDownRight;
}

@-webkit-keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.header-bottom .slider-holder .slider-caption .bounce-in-left-1,
.header-bottom .slider-holder .slider-caption .bounce-in-left-2 {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
}

.header-bottom .slider-holder .slider-caption .bounce-in-left-2 {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.header-bottom .slider-holder .slider-caption .rotateIn {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: rotateIn;
          animation-name: rotateIn;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.header-bottom .slider-holder .slider-imgs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-bottom .slider-holder .slider-imgs .img-wrap {
  z-index: 2;
  margin-bottom: -95px;
}

.header-bottom .slider-holder .slider-imgs .img-wrap img {
  margin: 0 10px;
}

.header-bottom .slider-holder .slider-imgs .img-wrap .img-shelf {
  z-index: 1;
}

.header-bottom .slider-holder .slider-imgs .slide-in-left {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header-bottom .slider-holder .slider-imgs .slide-in-down {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header-bottom .slider-holder .slider-imgs .slide-in-right {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header-bottom .slider-holder .slider-imgs .slide-in-up {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header-bottom .slider-holder .slick-arrow {
  opacity: 0;
  width: 20px;
  height: 20px;
  display: block;
  padding: 20px;
  background: url("https://img.icons8.com/ios-filled/50/000000/circled-chevron-right.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-bottom .slider-holder .slick-arrow:hover {
  opacity: 1;
}

.header-bottom .slider-holder .slick-arrow::before, .header-bottom .slider-holder .slick-arrow::after {
  display: none;
}

.header-bottom .slider-holder .slick-arrow.slick-next {
  right: -37px;
}

.header-bottom .slider-holder .slick-arrow.slick-prev {
  left: -37px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section1 {
  background: url("./images/bg_brick.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 576px) {
  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section1 .wrapper2 h2 {
  width: 350px;
  text-align: center;
  color: #1f1fa8;
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .section1 .wrapper2 h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
}

.section1 .wrapper2 p {
  width: 1000px;
  font-size: 14px;
  font-weight: bolder;
  padding-left: 15px;
  margin-bottom: 30px;
  color: #1a1aa5;
}

@media screen and (max-width: 576px) {
  .section1 .wrapper2 p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
}

.section1 .wrapper2 p span {
  color: #2600ff;
}

.section1 .wrapper3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 576px) {
  .section1 .wrapper3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section1 .wrapper3 video {
  width: 450px;
  margin-bottom: 20px;
  border: none;
  outline: none;
}

@media screen and (max-width: 576px) {
  .section1 .wrapper3 video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 330px;
    height: 330px;
  }
}

.wrapper {
  background: url("./images/bg_brick.jpg");
  padding-bottom: 50px;
}

.last-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 576px) {
  .last-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.last-section_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .last-section_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.last-section_block h2 {
  margin-bottom: 20px;
}

.last-section_block-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 10px 5px #000;
          box-shadow: 0 0 10px 5px #000;
}

.last-section_block-inner img {
  width: 200px;
  height: 270px;
  -o-object-fit: contain;
     object-fit: contain;
}

.last-section_block-inner h5 {
  font-size: 20px;
  color: #f8f400;
  font-weight: bolder;
  position: absolute;
  top: 55px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.footer {
  background-color: aliceblue;
}

.footer-inner {
  padding-top: 15px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 576px) {
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-inner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-inner-block-title {
  font-size: 30px;
}

.footer-inner-block .teli {
  position: relative;
}

.footer-inner-block .teli::after {
  content: "";
  background-image: url("./images/icons/telephone.svg");
  position: absolute;
  width: 20px;
  height: 20px;
  padding-left: 10px;
  background-repeat: no-repeat;
  right: 15px;
}

.footer-inner-block .malumot {
  font-size: 30px;
  color: blue;
  margin-bottom: 10px;
}

.footer-inner-block .telegramm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-inner-block .footer-call {
  text-decoration: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  color: #000;
  font-weight: bold;
  padding: 12px 16px;
}

.footer-inner-block .footer-call:hover {
  color: #000;
  background-color: #e4e3e2;
  border-radius: 24px;
}

.footer-inner-block-dropdown-content .d-down {
  position: relative;
}

.footer-inner-block-dropdown-content .d-down:hover .footer-inner-block-dropdown-content .d-down-content {
  display: block;
  width: 300px;
  height: 186px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  z-index: 8;
}

.footer-inner-block-dropdown-content .d-down-content {
  z-index: 8;
  position: absolute;
  left: -255px;
  top: -20px;
  width: 0;
  height: 0;
  background-color: aliceblue;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: translateY(40);
          transform: translateY(40);
  overflow: hidden;
}

.footer-inner-block-dropdown-content .d-down-content-link {
  display: block;
  padding: 7px 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.footer-inner-block-dropdown-content .d-down-content-link:hover {
  background-color: #fff;
  color: #000;
  padding: 7px 15px;
  font-weight: bold;
}

.footer-inner-block-dropdown-content-link {
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 7px 16px;
}

.footer-inner-block-dropdown-content-link:hover {
  color: #000;
  background-color: #e4e3e2;
  border-radius: 24px;
}

.footer-inner img {
  width: 200px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 7px;
}
/*# sourceMappingURL=main.css.map */